.formContainer {
  margin-bottom: 3.125rem;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .information {
    align-items: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #000;
  border-radius: 50%;
}

.informationTitle {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 0 0.313rem;
}

.content {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 0 0.938rem;
}

.specialContent {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 0 0.938rem;
}

.specialContent:hover {
  text-decoration: underline;
  color: rgb(174, 174, 174);
}

.orderContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .orderContainer {
    align-items: center;
  }
}

.order {
  font-family: Roboto;
  font-size: 2.25rem;
  color: #e32927;
  text-transform: uppercase;
  margin-bottom: 2.625rem;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 16.25rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 3.125rem 0;
  width: 28.125rem;
}

@media only screen and (max-width: 768px) {
  .inputContainer {
    width: auto;
  }
}

.wrapperInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
