.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 3.125rem 0;
}

.line {
  border: 0.125rem solid #fff;
}

.lineHidden {
  border: 0.125rem solid #fff;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 600px; */
  margin: 0 0 3.125rem 0;
  background-color: #e32927;
}

.eventsText {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1.875rem 1.25rem 2.5rem 1.25rem;
  margin: 0;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem 1.25rem;
  width: 100%;
}

.optionsContainer p {
  color: #fff;
  font-size: 1.25rem;
  font-family: sans-serif;
}

@media only screen and (max-width: 768px) {
  .optionsContainer {
    text-align: start;
  }
}

@media only screen and (min-width: 768px) {
  .lineHidden {
    display: none;
  }
}
