.container {
  padding: 0 2rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3.152rem;
}

.buttonWrapper {
  width: 16.25rem;
}

.menuList {
  margin-bottom: 3.125rem;
}

.cardContainer {
  width: 18.75rem;
}
